
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
      text-decoration: none;
  }
  body {
    font-size: 16px;
    font-family: 'Space Mono', monospace;
  }
  
  html{
      scroll-behavior: smooth;
  }
  
  img{
      display: inline-block;
  }
  .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }